@font-face {
  font-family: "UbuntuMono-Bold";
  src: url("./asset/font/UbuntuMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuMono-Regular";
  src: url("./asset/font/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuMono";
  src: url("./asset/font/UbuntuMono-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  width: 100vw;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  position: relative;
}
